.main{
        background-color: #fff;
        margin:0 auto;
        width: 60%;
        padding: 12px 24px;
        font-size: 16px;
        line-height: 30px;
        font-family: Georgia, serif
    }

    a:hover{
        background: #ede;
    }
    .classifys{
        margin-bottom: 20px;
        word-break: break-all; word-wrap:break-word;
    }
    .classifys span{
        margin-right: 30px;
    }
    .classify-tag span{
        font-size: 12px;
        background-color: #F5D3E6;
        padding: 8px;
    }
    .content{
        margin-top: 19px;
    }
    .page{
        text-align: center;
        margin-bottom: 20px;
    }
    .page strong,.page a{
        display: inline-block;
        width:18px;
        background-color: #D03167;
        color:white;
        text-decoration: none;
        text-align: center;
    }
    .page strong,.page a:hover{
        background-color: #D03;
    }
    .message_box{
        border-top:1px solid #111;
    }
    .message_content{
        width:100%;
        height: auto;
        margin-bottom: 20px;
    }
    .message_content{
        width: 100%;
    }
    .commit{
        background: rgba(233, 179, 179, 0.3);
        border-bottom:1px solid #111;
        margin-bottom: 5px;
        padding: 12px;
        display: block;
        position: relative;

        /*word-break: break-all; word-wrap:break-word;*/
        word-spacing: initial;
    }

    .commit a{
        color:black;
    }
    .message_form,.commit{
        width: 80%;
        margin:0 auto;
    }
    .commit .user{
        font-size: 1.5em;
    }
    .commit .commit_tag{
        position: absolute;
        right: 0;
        bottom: -6%;
        padding:12px 0px;
    }
    .commit_tag span{
        margin-left:10px;
    }
    .reply{
        width: 80%;
        margin:0 auto;
    }
    .message_form input,.message_form textarea{
        border:2px solid #fff;
        width:100%;
        display: table-cell;
        margin-top: 20px;
        padding: 6px;
        margin-bottom: 10px;
    }
    .message_form textarea{
        width:99.4%;
    }