 .main{
        margin:0 10%;
        word-break: break-all; word-wrap:break-word;
    }
    .content{
        box-sizing: border-box;
        margin:0 auto;
        background-color: #fff;
        width: 90%;
        padding: 12px;
    }
    .message_box{
        width:90%;
        margin: 0 auto;
        border-top:1px solid #111;
    }
    .message_content{
        width:100%;
        height: auto;
        margin-bottom: 20px;
    }
    .message_content{
        width: 100%;
    }
    .commit{
        background: rgba(233, 179, 179, 0.3);
        border-bottom:1px solid #111;
        margin-bottom: 5px;
        padding: 12px;
        display: block;
        position: relative;

        /*word-break: break-all; word-wrap:break-word;*/
        word-spacing: initial;
    }

    .commit a{
        color:black;
    }
    .message_form,.commit{
        width: 100%;
        margin:0 auto;
    }
    .commit .user{
        font-size: 1.5em;
    }
    .commit .commit_tag{
        position: absolute;
        right: 0;
        bottom: -6%;
        padding:12px 0px;
    }
    .commit_tag span{
        margin-left:10px;
    }
    .reply{
        margin-left: 30px;
        width: 100%;
        // margin:0 auto;
    }
    .message_form input,.message_form textarea{
        border:2px solid #fff;
        width:100%;
        display: table-cell;
        margin-top: 20px;
        padding: 6px;
        margin-bottom: 10px;
    }
    .message_form textarea{
        width:99.4%;
    }
